<!DOCTYPE html>
<html>

<head>
	<title>Vue admin panel</title>
	<link rel="stylesheet" href="/static/vendor/element-ui.css">
	<link rel="stylesheet" href="/static/styles/index.css">
	<script src="/static/vendor/vendor.js"></script>
	<script src="/static/api/ws.js"></script>

	<script type="text/x-component" src="/static/components/SideMenu.vue"></script>

	<script type="text/x-component" src="/static/views/Home.vue"></script>

	<script src="/static/loader.js"></script>
</head>

<body>
	<div id="app">
		<router-view />
	</div>
</body>


</html>
